/*
Color set

deep blue : 2D79B2
light blue : 74C3FF

deep orange : FFAD0B
light orange : FFCA5E
*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

/* global (maybe for debugging)
---------------------------------------------------*/
.border-black {border:1px solid black;}
.border-blue {border:1px solid blue;}
.border-red {border:1px solid red;}
.border-gray {border:1px solid gainsboro;}
.border-yellow {border:1px solid #FFAD0B;}


body {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.0em;
}


/* header
---------------------------------------------------*/
#header {
    width: 100%;
    background: whitesmoke;
    -moz-box-shadow: 0px 9px 11px #DBDBDB;
    -webkit-box-shadow: 0px 9px 11px #DBDBDB;
    box-shadow: 0px 9px 11px #DBDBDB;
}

/* #main
---------------------------------------------------*/
#main {
    width : 900px;
    margin : 0px auto;
    margin-top : 20px;
    vertical-align: top;
    overflow: auto;
}

#main li{
    list-style: none;
}



/* #content
---------------------------------------------------*/
#content {
    width: 690px;
    display: block;
    float: right;

}

/* #
---------------------------------------------------*/
#aside {
    width: 200px;
    display: inline-block;
}